body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    background-image: url("https://media.gazetadopovo.com.br/2020/09/17184327/cirino-gif.gif");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}


.container{
    padding: 20px;
    width: 300px
}


h1 {
    text-align: center;
}


.input-container{
    display: flex;
    margin-bottom: 20px;
}


input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    padding: 10px;
    border: none;
    background: #005313;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}


button:hover {
    background: #1a672b;
}


ul {
    list-style: none;
    padding: 0;
}


li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


li.completed {
   text-decoration: line-through;
   color: #777;
}


.remove-btn{
    background: #941c28;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}


.remove-btn:hover{
    background: #941c28;
}
